body{
    background:black;
}

.login-box{
    height:500px;
    padding:7% 10% 10% 10%;
    width:60%;
    color:white;
    margin:auto 18% auto 22%;
}

.login-box > form {
    margin-top:10%;
}

.login-box > form> input{
    width: 90%;
    padding:2%;
    margin-bottom:5%;
    background: rgba(51, 50, 50, 0.7);
    border-color:rgba(255,255,255,0.5);
}

.login-box > form > input:focus{
    transition:0.25s linear;
}

.login-box > form > button{
    font-size:1 em;
    padding:2% 4%;
    margin:auto auto 2% auto;
}

.login-box > form > span > a{
    text-decoration:none;
}

.login-box > form > span > a:hover{
    
    opacity:0.5;
    transition:0.25s linear;
}

@media (max-width:999px){
    .login-box{
        width:80%;
        margin:15% 5% auto 15%;
        height:400px;
    }

    .login-box > form > button{
        margin-top:7%;
        margin-bottom:10%;
    }
}

@media (max-width:468px){
    body{
        font-size:1em;
    }

    .login-box{
        width:100%;
        margin:auto;
        margin:10% auto auto 2%;
    }

    .login-box> form{
        padding-top:10%;
    }
    
    .login-box > form > button{
        margin-top:7%;
        margin-bottom:10%;
    }
}