<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>

    <link rel="stylesheet" href="css/bootstrap.css" >
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="Headin">
            <h1>ENTER DETAILS</h1>
        </div>
        <div class="row">
            <form>
                <div class="col-6 First ">CHECK COL
                    <label>First name:</label>
                        <input class="form-control" type="text" name="fastname" placeholder="Enter first name">
                    <label>Last name:</label>
                        <input class="form-control" type="text" name="lastname">
                    <label for="email">Email:</label>
                        <input class="form-control" name="email" type="email" placeholder="Enter your email">
                        
                        <label for="password">Password:</label>
                        <input class="form-control" type="password" placeholder="Enter your password">
                </div>
                <div class="col-6 Second">CHECK COL2
                    
                    <label>Contact:</label>
                        <input class="form-control" type="text" name="contact"> 
                    <br>
                    <label>Gender:</label>
                        <input type="radio" name="gender" value="male" checked> Male
                        <input type="radio" name="gender" value="female"> Female
                        <input type="radio" name="gender" value="other"> Other<br>
                    <br>
                    <label>Language:</label>
                        <select name="Language">
                            <option value="English">English</option>
                            <option value="Hindi">Hindi</option>
                            <option value="French">French</option>
                        </select>
                        <br><br>
                    <label>Country :</label> 
                        <select>
                            <option>India</option>
                            <option>USA</option>
                            <option>Canada</option>
                            <option>France</option>
                        </select>
                        <br><br>
                    <label>Genres Preferred:</label><br> 
                        <textarea class="textarea" rows="4" cols="60" name="Genres" placeholder="Enter genres comma separated"></textarea><br><br>   
                    <label> Preferred:</label><br> 
                        <textarea class="textarea" rows="4" cols="60" name="Actors" placeholder="Enter Actors comma separated"></textarea><br><br>

                </div>
                <div class="inputfield">
                    <input type="submit" value="Register" class="btn" onclick=" return validateForm()">
                </div>
            </form>
            
        </div>
    </div>



<script src="js/bootstrap.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

</body>
</html>